

{% extends "base.html" %}
{% block title %}Account!{% endblock %}
    {% block css %} 
                <link rel="stylesheet" href="/static/styles/AccountStyles.css">
    {% endblock %}
{% block Pagename %}Account{% endblock %}
{% block heading %}https://habitopia/account{% endblock %}
{% block content %}
<div id="wrap">
    <h1>Account</h1>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Your user ID: {{ user.id }}</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div>
        <a href="{{url_for('logout') }}">Log out</a>
    </div>

    <div>
        <a href="{{url_for('change_password') }}">Change Password</a>
    </div>

    <form method="POST" action="{{ url_for('delete_account') }}" onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
</div>
{% endblock %}


