
    {% extends "base.html" %}
{% block title %}Change Password!{% endblock %}
    {% block css %} 
        <link rel="stylesheet" href="/static/styles/Change_PasswordStyles.css">
    {% endblock %}
{% block Pagename %}Change Password{% endblock %}
{% block heading %}https://habitopia/change_password{% endblock %}
{% block content %}
<div id="wrap">
    <h1>Change Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('change_password') }}">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.current_password.label }}
            {{ form.current_password() }}
        </div>
        
        <div>
            {{ form.new_password.label }}
            {{ form.new_password() }}
        </div>

        <div>
            {{ form.confirm_new_password.label }}
            {{ form.confirm_new_password() }}
        </div>
        
        <div>
            {{ form.submit() }}
        </div>
    </form>
   
    <a href="{{ url_for('account') }}">Back to Account page</a>
    
</div>
{% endblock %}