
{% extends "base.html" %}
{% block title %}Change Password!{% endblock %}
    {% block css %} 
        <link rel="stylesheet" href="/static/styles/Change_PasswordStyles.css">
    {% endblock %}
{% block Pagename %}Change Password{% endblock %}
{% block heading %}https://habitopia/change_password{% endblock %}
{% block content %}


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

<div id="wrap">
    <div class="topbox2">
        <ul>
            <li><img src="/static/styles/assets/users_key-2.png" width=20px class="topboxtext2"></li>
            <li><h5 class="topboxtext2">Change Password</h5></li>
        </ul>
        <ul>
            <li><img src="/static/styles/assets/exit-active.png" class="icon"></li>
            <li><img src="/static/styles/assets/window-active.png" class="icon"></li>
            <li><img src="/static/styles/assets/minimise-active.png" class="icon"></li>
        </ul>
    </div>
    <div class="nav2"></div>
        <ul>
            <form method="POST" action="{{ url_for('change_password') }}">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.current_password.label }}
                    {{ form.current_password() }}
                </div>
                <div>
                    {{ form.new_password.label }}
                    {{ form.new_password() }}
                </div>
                <div>
                    {{ form.confirm_new_password.label }}
                    {{ form.confirm_new_password() }}
                </div>  
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </ul>
    </div>       
</div>            
      
<script src="/static/styles/habit.js"></script>
{% endblock %}

        