{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="/static/styles/PetStyles.css" > {% endblock %}
{% block title %}Pets!{% endblock %}
{% block Pagename %}Pets{% endblock %}
{% block heading %}htps://habitopia/pet{% endblock %}
{% block content %}
<div id="wrap">
        <p  class="text-firstpet">Hey, it seems like you don't have a buddy yet.. so here!</p>
            <div class="petbox-firstpet">
            <img src="/static/petimages/AirEgg.png" alt="Sereno Pet" width="256px" height="328px">
            </div>
        <p class="text-firstpet">This one is called Sereno! Though, you can name it whatever you want.</br>
            Your buddy will need food to grow so don't forget to feed them!</p>
        <form action="/firstpetcreate" method="post" class="form-inline">
            <fieldset class="fieldset-firstpet">
            <legend><label for="petname">What would you like to name your pet? </label></legend>
            <input name="petname" type="text" placeholder="Sereno" required>
            <input type="submit" value="Name">
        
        </fieldset>
        </form>
        <form action="/returnpet" method="get" class="form-inline">
            <button type="submit" value="returnpet">Return to your Pet page.</button>
        </form>
        <div id="wrap">
{% endblock %}
