{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="/static/styles/HabitStyles.css" > {% endblock %}
{% block title %}Habit Tracker!{% endblock %}
{% block Pagename %}Habit Tracker{% endblock %}
{% block heading %}https://habitopia/habit{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <div class="flash-container">
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endwith %}
    
<div id="wrap">
    <div class="topbox2">
        <ul>
            <li><img src="/static/styles/assets/calendar-3.png" width=20px class="topboxtext2"></li>
            <li><h5 class="topboxtext2">Habit Tracker</h5></li>
        </ul>
        <ul>
            <li><img src="/static/styles/assets/exit-active.png" class="icon"></li>
            <li><img src="/static/styles/assets/window-active.png" class="icon"></li>
            <li><img src="/static/styles/assets/minimise-active.png" class="icon"></li>
        </ul>
    </div>
    <div class="nav2">
        <ul>
            <li><button id="openModalBtn" onclick="openModal()" class="iconbutton"><img src="/static/styles/assets/write_wordpad-1.png" class="icon2"><p class="icontext">Add Habit</p></button></li>
                <div id="addHabitModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>Add a New Habit</h2>
                        <form action="/add_habit" method="POST">
                            <input type="text" name="name" placeholder="Habit Name" required>
                            <input type="number" name="frequency" placeholder="Frequency (times per month)" required>
                            <br>
                            <label for="repeat_days">Repeat Notifications:</label><br>
                            <div class="repeat_days">
                                <input type="checkbox" name="repeat_days" value="Monday"> Monday<br>
                                <input type="checkbox" name="repeat_days" value="Tuesday"> Tuesday<br>
                                <input type="checkbox" name="repeat_days" value="Wednesday"> Wednesday<br>
                                <input type="checkbox" name="repeat_days" value="Thursday"> Thursday<br>
                                <input type="checkbox" name="repeat_days" value="Friday"> Friday<br>
                                <input type="checkbox" name="repeat_days" value="Saturday"> Saturday<br>
                                <input type="checkbox" name="repeat_days" value="Sunday"> Sunday<br>
                            </div>
                            <button type="submit">Add Habit</button>
                        </form>
                    </div>
                </div>
            <li><a href="{{ url_for('diary') }}"><button class="iconbutton"><img src="/static/styles/assets/directory_business_calendar-2.png" class="icon2"><p class="icontext">Diary</p></button></a></li>
            <li class="iconbutton"><img src="/static/styles/assets/coin.png" class="icon2"><p class="icontext">Coins : {{ user_items.coins }}</p></li>
        </ul>
    </div>
    {% if habits %}
        <div class="callendarrow">
            <ul>
                <div class="callendarnav">
                    <li><a href="{{ url_for('habit', month=(month_start - relativedelta(months=1)).strftime('%Y-%m')) }}"><button class="callendarbutton">Previous Month</button></a></li>
                    <li><a href="{{ url_for('habit', month=(month_start + relativedelta(months=1)).strftime('%Y-%m')) }}"><button class="callendarbutton">Next Month</button></a></li>
                </div>
                <div class="month">    
                    <li><span>https://month/{{month_start.strftime('%B')}}/{{month_start.strftime('%Y')}}</span></li>       
                </div>    
            </ul>
        </div>

        <div class="wrap2">
            <div class="habit-calendar">
                <div>
                    <table>
                        <tr>
                            <th>Habit</th>
                            <th>Goal</th>
                                {% for day in range(1, (month_start + relativedelta(months=1) - timedelta(days=1)).day + 1) %}
                                    <th>{{ day }}</th>
                                {% endfor %}
                            <th>Actions</th>
                        </tr>
                
                        {% for habit in habits %}

                            <tr>
                                <div class="checkbox-calendar">
                                    <td>{{ habit.name }}</td>
                                    <td>{{ habit.frequency }}</td>
                                    {% for day in range(1, (month_start + relativedelta(months=1) - timedelta(days=1)).day + 1) %}
                                    {% set date = selected_month + '-%02d' % day %}
                                    <td>
                                        <div class="calendar-box">
                                            {% set log = habit_logs.get((habit.id, date)) %}
                                            {% if log and log.checked %}
                                                <div class="checked"> </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% endfor %}
                                    <td class="actionbox">
                                        <form action="{{ url_for('complete_habit', habit_id=habit.id) }}" method="POST" class="complete_button">
                                            <button type="submit" class="delete"><img src="/static/styles/assets/trust0-0.png" width="20px"></button>
                                            <span class="hover-text">Complete</span>
                                        </form>
                                        <form action="{{ url_for('undo_complete', habit_id=habit.id) }}" method="POST" class="undo_button">
                                            <button type="submit" class="delete"><img src="/static/styles/assets/accessibility_stopwatch.png" width="20px"></button>
                                            <span class="hover-text">Undo</span>
                                        </form>
                                        <form action="{{ url_for('delete', habit_id=habit.id) }}" method="POST" class="delete_button">
                                            <button type="submit" class="delete"><img src="/static/styles/assets/msg_error-0.png" width="20px"></button>
                                            <span class="hover-text">Delete</span>
                                        </form>
                                    </td>
                                </div>
                            </tr>
                        {% endfor %} 
                    </table>
            </div>
            
        </div>
    
    {% else %}
        <div class="wrap2">
            <p>No habits! Click [Add Habit] to add a habit!</p>
        </div>
    {% endif %}

</div>
<script src="/static/styles/habit.js">

    
</script>
{% endblock %}

