<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% set user_items = user_items %}
    {% block css %} <link rel="stylesheet" href="/static/styles/HomeStyles.css" > {% endblock %}
    {% block title %}Home!{% endblock %}
    {% block heading %}https://habitopia/home{% endblock %}
    {% block Pagename %}Home{% endblock %}



{% block content %}



    
    <body>

    
        <div>
            <h1 class="title">HABITOPIA</h1>
        </div>
        
        <div id="wrap">
            <h1>Home</h1>
            {% if username %}
                <h2>Welcome, {{ username }}!</h2>
            {% else %}
                <h2>Welcome, Guest!</h2>
            {% endif %}
        </div>        
            
        
    </body>

{% endblock %}
</html>
