<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PetStyles.css">
    <title>Pets!</title>
</head>
    <body>
        <div class="links">
        <ul>
            <li><a href="/" class="Home-button">Home</a></li>
            <li class="Pet-button">Pets</a></li>
            <li><a href="login.html" class="Login-button">Login</a></li>
            <li><a href="register.html" class="Register-button">Register</a></li>
            <h1>Habitbuddies</h1>
                <h2>-insert pets name-</h2>
                <h2></h2>
        </ul>
        </div>
        <div class="PetDisplay">
            <div class="PetBox">
                Pet will go here!
            </div>
        </div>
    </body>

