{% extends "base.html" %}

{% block css %} <link rel="stylesheet" href="/static/styles/PetStyles.css" > {% endblock %}
{% block title %}Pets!{% endblock %}
{% block Pagename %}Pets{% endblock %}
{% block heading %}https://habitopia/nest{% endblock %}
{% block content %}

    <div id="wrap">
        <h1>The Nest</h1>
        <h2>Pets</h2>
            <div class="petboxes">
                <div class="petbox-nest">
                <h3 class="petsname">{{ pet1name }}</h3>
                    <img src="{{ pet1image }}" alt="Pet image" width="200px" height="256.25px">
                    <span class="active-button"><form action="makeactive" method="post"><button type="submit" name="makeactive" value="Sereno">Make Active</button></form></span>
                </div>

                <div class="petbox-nest">
                    <h3 class="petsname">{{ pet2name }}</h3>
                        <img src="{{ pet2image }}" alt="Pet image" width="200px" height="256.25px">
                        <span class="active-button"><form action="makeactive" method="post"><button type="submit" name="makeactive" value="Mori">Make Active</button></form></span>
                </div>

                <div class="petbox-nest">
                    <h3 class="petsname">{{ pet3name }}</h3>
                        <img src="{{ pet3image }}" alt="Pet image" width="200px" height="256.25px">
                        <span class="active-button"><form action="makeactive" method="post"><button type="submit" name="makeactive" value="pet3">Make Active</button></form></span>
                </div>
                <div class="flash" style="position: relative; bottom: 365px; left: 310px;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                        <ul>
                            <img src="/static/petimages/Sora-Meliae-Matrilineare-Status-dialog-warning.24.png" style="position: absolute;">
                            <p style="margin-left: 30px;">{{ msg }}</p>
                        </ul>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
        </div>
    </div>


{% endblock %}
 