

{% extends "base.html" %}
{% block title %}Login!{% endblock %}
    {% block css %} 
                <link rel="stylesheet" href="/static/styles/RegisterStyles.css">
    {% endblock %}
{% block Pagename %}Register{% endblock %}
{% block content %}
<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
    
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>{{ form.username.label }} {{ form.username() }}</div>
            <div>{{ form.password.label }} {{ form.password() }}</div>
            <div>{{ form.submit() }}</div>
        </form>
        
        <a href="{{url_for('login')}}">Already have an account? Start logging in!</a>
{% endblock %}
