    {% extends "base.html" %}
    {% block css %} <link rel="stylesheet" href="/static/styles/ShopStyles.css" > {% endblock %}
    {% block title %}The Shop!{% endblock %}
    {% block Pagename %}Shop Page{% endblock %}
    {% block heading %}https://habitopia/shop{% endblock %}
    {% block content %}
    <div id="wrap">
        <div class="topbox2">
            <ul>
                <li><img src="/static/styles/assets/address_book_card.png" width=20px class="topboxtext2"></li>
                <li><h5 class="topboxtext2">Shop</h5></li>
            </ul>
            <ul>
                <li><img src="/static/styles/assets/exit-active.png" class="icon"></li>
                <li><img src="/static/styles/assets/window-active.png" class="icon"></li>
                <li><img src="/static/styles/assets/minimise-active.png" class="icon"></li>
            </ul>
        </div>
        <div class="inventory">
    
            <h2>INVENTORY</h2>
            <h2 style="  margin-left: 15px;">Coins: {{ coins }}</h2>
            <h2 style="  margin-left: 15px;">Petfood: {{ petFood }}</h2>
            <h2 style="  margin-left: 15px;">Baits: {{ bait }}</h2>
        </div>
    
        <h1 class="items-tittle">Items:</h1>

        <div class="flash">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="items-container">
            <div class="item-grid">
                <div class="item">
                    Pet Food - 20 Coins
                    <div class="item-images">
                        <img src="/static/petimages/Food.png" alt="Pet Food">
                    </div>
                    <form method="POST" action="{{ url_for('shop') }}">
                        <input type="hidden" name="item" value="pet_food">
                        <button type="submit">Buy Pet Food</button>
                    </form>
                </div>
            

                <div class="item">
                    Bait - 100 Coins
                    <div class="item-images">
                        <img src="/static/petimages/Bait.png" alt="Bait">
                    </div>
                    <form method="POST" action="{{ url_for('shop') }}">
                        <input type="hidden" name="item" value="bait">
                        <button type="submit">Buy Bait</button>
                    </form>
                </div>


                <div class="item">
                    Earth Egg - 1000 Coins
                    <div class="item-images">
                        <img src="/static/petimages/EarthEgg.png" alt="Earth Egg">
                    </div>
                    <form method="POST" action="{{ url_for('shop') }}">
                        <input type="hidden" name="item" value="earth_egg">
                        <button type="submit">Buy Earth Egg</button>
                    </form>
                </div>

                <div class="item">
                    Water Egg - 2000 Coins
                    <div class="item-images">
                        <img src="/static/petimages/WaterEgg.png" alt="Water Egg">
                    </div>
                    <form method="POST" action="{{ url_for('shop') }}">
                        <input type="hidden" name="item" value="water_egg">
                        <button type="submit">Buy Water Egg</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
