{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="/static/styles/ShopStyles.css" > {% endblock %}
{% block title %}The Shop!{% endblock %}
{% block Pagename %}Shop Page{% endblock %}
{% block heading %}htps://habitopia/shop{% endblock %}
{% block content %}
<div id="wrap">
    <h1>Shop</h1>

    <h2>Coins: {{ coins }}</h2>
    <h2>Petfood: {{ petFood }}</h2>
    <h2>Baits: {{ bait }}</h2>
    <h1>Items:</h1>

    <ul>
        <li>
            Pet Food - 20 Coins

            <form method="POST" action="{{ url_for('shop') }}">
                <input type="hidden" name="item" value="pet_food">
                <button type="submit">Buy Pet Food</button>
            </form>
        </li>
        
        <li>
            Bait - 100 Coins

            <form method="POST" action="{{ url_for('shop') }}">
                <input type="hidden" name="item" value="bait">
                <button type="submit">Buy Bait</button>
            </form>
            
           
        </li>
    </ul>

</div>
{% endblock %}
