/* Body & Background */

.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#wrap {
  width: 900px;
  height: 540px;
  margin: 100px auto;
  background: #e0e2e7;
  overflow: hidden;
  padding: 15px;
}
  
body{
  background: url("animatedbackground.gif") ;
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  background-position: center;
  height: 1200px;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.topbox{
  background-color: #2d4535;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.icon{
  background-color: #c1c1c1;
  height: 30px;
  width: 30px;
  margin: 2px 2px;
  float:right;
  border: 5px outset #c1c1c1;
  
}

h1 {
  font-family: "Pixelify Sans", sans-serif ;
}


/* scroll-bar */
::-webkit-scrollbar{
  background-color: aliceblue;
  width: 30px;
}

::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  border: 3px outset #c1c1c1;
}

::-webkit-scrollbar-button{
  border: 3px outset #c1c1c1;
  height: 30px;
}




/* Header */


/* Nav bar */ 

.material-symbols-outlined {
  text-align: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #e0e2e7 ;
  width:1920px; 
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 100%;
}
.nav a{
  text-decoration: none;
  float: left;
  text-align: center;
  color: #131313;
  padding: 8px 10px;
  font-size: 17px;
  font-family: "Pixelify Sans", sans-serif;
}

.nav a:hover {
  background-color: aliceblue;
  color:#131313;
}

.nav a:active {
  background-color: #7f7f7f;
  color:#131313;
}

.notif{
  padding: 8px 10px;
  float: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Content */

.class{
  background-color: #e0e2e7; 
}