/* Body & Background */

.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#wrap {
  width: 900px;
  height: 540px;
  margin: 100px auto;
  background: #e0e2e7;
  overflow: hidden;
  padding: 15px;
}
  
.body{
  background-image: url("/static/styles/animatedbackground.gif") ;
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.topboxbg{
  background-color:#e0e2e7;
  position:fixed;
  height: 40px;
  top: 0;
  width: 100%;
}

.topbox{
  background-color: #2d4535;
  height: 30px;
  position: fixed;
  margin: 1px 4px;
  top: 1px;
  width: 99.5%;
}



.icon {
  width: 30px;
  float:right;
  margin:2px;
  vertical-align: baseline;
}

h1 {
  font-family: "Pixelify Sans", sans-serif ;
}

.topboxtext {
  float: left;
  color: #FFFFFF;
  margin: 2px 2px;
  text-align: left;
  font-family: "Pixelify Sans", sans-serif ;
  font-size: 20px;
  vertical-align: baseline;

}


/* scroll-bar */
::-webkit-scrollbar{
  background-color: aliceblue;
  width: 30px;
}

::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  border: 3px outset #c1c1c1;
}

::-webkit-scrollbar-button{
  border: 3px outset #c1c1c1;
  height: 30px;
}




/* Title */

.title {
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  font-size: 1000% ;
  font-family: "Pixelify Sans", sans-serif ;
  text-align: center;
  margin: 200px auto;
  

  }

/* Nav bar */ 

.material-symbols-outlined {
  text-align: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #e0e2e7 ;
  border: 5px ridge #e0e2e7;
  width:99.5%;
  margin: auto; 
  overflow: hidden;
  position: fixed;
  top: 33px;
  width: 100%;
}
.nav a{
  text-decoration: none;
  float: left;
  text-align: center;
  color: #131313;
  padding: 2px 10px;
  font-size: 17px;
  font-family: "Pixelify Sans", sans-serif;
}

.nav a:hover {
  background-color: aliceblue;
  color:#131313;
}

.nav a:active {
  background-color: #7f7f7f;
  color:#131313;
}

.notif{
  padding: 8px 10px;
  float: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Content */

.class{
  background-color: #e0e2e7; 
}

/* Login/Register */ 


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
}

.Login{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .Login{
    transform: translateX(100%);
}

.Register{
    left: 0;
    width: 50%;
    opacity: 1;
    z-index: 5;
}

.container.active .Register{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #518162;
    height: 100%;
    background: linear-gradient(to right, #3c5f48, #5e9270);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}