.PetBox {
    width: 200px;
    height: 100px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
}

/* Nav bar */ 

.material-symbols-outlined {
    padding: 14px 16px;
    text-align: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: #c1c1c1 ;
    overflow: hidden;
  }
  .nav a{
    text-decoration: none;
    float: left;
    text-align: center;
    color: #131313;
    padding: 14px 16px;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: aliceblue;
    color:#131313;
  }
  
  .nav a.active {
    background-color: aliceblue;
    color:#131313;
  }